<template name="index">
  <script src="/js/jquery.flexslider-min.js"></script>


  {{> banner}}
  {{> aboutus}}
  {{> feature}}
  {{> product}}
  {{> pricing}}
  {{> action}}
  {{> clients}}
  <!-- {{> team }}
  {{}}
  {{> gzdt }}
  {{> business }}
  {{> partners1 }}
  {{> case }}
  {{> contact}} -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.flexslider-min.js"></script>
    <script src="/js/app.js"></script>
</template>
