#partner .client img{
  opacity: 0.6;
  width: 100px;
  height: 35px;
}
/*#work img{
  width: 160px;
  height: 260px;
}*/
.flexslider .slides > li .img{
  border:1px olid #000;
  width:230px;
  height:160px;
  overflow:hidden
}
/*.flexslider .slides > li .img img{
  width: 220px;
  height: 160px;
}*/
.flexslider .slides > li .img img{
  max-width:230px;
  _width:expression(this.width > 230 ? "230" : this.width);
}
.flexslider .slides > li .title, p{
  text-align: center;
}
/*.navbar-inverse .navbar-nav > li > a{
  font-size: 18px;
}*/
nav > ui > li > a{
  font-size: 18px;

}
